*{margin:0; padding:0; box-sizing: border-box;}
.top{background: #007cba; height: 40px;}
.row{display: flex; justify-content: space-between; margin:0 auto;} 
.left a{color: white; margin-left: 15px; line-height: 40px;}
.right ul{list-style: none;}
.right ul li {display:inline-block; margin:0 20px 0 0; line-height: 40px; color:rgb(255, 255, 255, 0.6); text-transform: capitalize;}
.navbar-brand img{width: 300px; height: 70px;}
.nav-link{margin:0 20px;}
.dropdown{margin-left:15px;}
.dropdown-toggle{border:none; background: none; line-height: 70px;}
.dropdown-toggle:focus{border: none; outline:none;}
.dropdown-menu{margin-top: 10px;}

/*--------------------caresouel--------------------------*/
.carousel-inner{margin-top: 135px; position: relative;}
.carousel-caption{position: absolute;bottom: 40%;}
.carousel-caption button{color: white; width: 150px; font-size: 20px;}
.carousel-control-prev-icon{position: absolute; top:40%; left: 0; background: black; 
  color:white; width: 50px; height: 50px; display: flex; justify-content: center;align-items: center;}
.carousel-control-next-icon{position: absolute; top:40%; right: 0; background: black;
  color:white; width: 50px; height: 50px;display: flex; justify-content: center;align-items: center;}
/*---------------------------clip path  carousel----------------------*/
.carousel-inner{-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 99%, 0 80%, 0 0);
clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);  background: blue;}
.carousel-inner img{opacity: 0.5; height:calc(100vh-135px);}

h1{font-size: 50px;}
.btn{color:white; font-weight: bold;}
/*-----------------------Current Openings-------------------*/
.fst{margin-top:100px;}
.soun{background: #007cba; padding: 100px 150px; margin-top: 100px; position: relative;}
h2{font-size: 40px;}
p{line-height: 25px; word-spacing: 4px;}
.card{padding: 20px;}
.line{display: block; margin:20px auto; width: 200px; height:5px; background: orange;}
.card .btn{margin:20px 0; color: white;}
.cut{ width: 100%; position: absolute; bottom: 0; left:0; }
/*--------------------What We Offer-------------------------*/
.owl-carousel{margin-top: 50px;}
h3{background: #e8f0f3; height:80px;}
.owl-prev{position: absolute; top: 30%; left: -5%; width: 30px; height: 30px; background: black; color:white;}
.owl-next{position: absolute; top: 30%; right: -5%; width: 30px; height: 30px; background: black; color:white;}
/*-------------------Our Milestones-------------------*/
.circle{width: 190px;  height: 190px; position: relative; background:#007cba; border-radius: 100%;}
.monu{width: 80%; margin:0 auto;}
.so{background: #e8f0f3; padding: 70px 0;}
h4{font-size: 50px; color: orange; position: absolute; top:30%; left: 20%; letter-spacing: 3px;}
.circle p{position: absolute; top: 70%; left: 25%; font-size: 20px; color:white;}
/*-----------------------------Testimonials------------------------*/
.mony{ background: #03a9f4;color:white; }
.card-img-top{width: 100px!important; height: 100px!important; border-radius: 100%; margin:20px auto;}
h5, h6{margin-right: 130px!important;}
h5{margin-top: 50px;}
.item img{border:1px solid black;}
/*-------------------Our Esteemed Clients--------------------*/
.sec{background: #f9fafa; padding:50px 0 100px 0; }
.abc3 .item{filter:grayscale(100%);}
.abc3 .item:hover {filter:grayscale(0%);}
/*---------------------footer---------------------------------*/
 .son{background:#007cba; width: 100%; padding-bottom: 5px;}
 .social{margin-top: 5px;}  
  .social .shape{border:solid 1px orange; margin-left: 10px; background:none;  height:50px; width:50px;  display:inline-block;  border-radius:100%;}
   .shape .fa{line-height :50px; color: white; }
   .mon{margin-top: 5px; background: none; border:none; color:white;}
   .had{font-size: 25px;}
   .p2{color:orange;}
    hr{margin: 10px 0; height: 1px; background:orange;}
   .one{width:100px; height: 2px; background: orange;}
/*------------------------clip path footer-------------------*/
  .box1{width: 100%; height: 150px; position: relative;  top:0; left:0; }
  .box1::before{content: ""; width: 100%; height:100%; background:skyblue; 
  position: absolute; top: 0; left: 0; -webkit-clip-path: polygon(50% 60%, 0 0, 100% 0);
   clip-path: polygon(50% 60%, 0 0, 100% 0);z-index:1;} 	
  .box1::after{content: ""; width: 100%; height:100%; background: #f9fafa; 
  position: absolute; top: 0; left: 0; -webkit-clip-path: polygon(50% 45%, 0 0, 100% 0);
   clip-path: polygon(50% 45%, 0 0, 100% 0); z-index:1;}
/*-------------------------secondlast-------------------*/
.secondlast{background: rgba(0, 0, 0, 0.9); width: 100%; height: 50px;}
.content{color:gray; line-height: 50px; display: inline-block; margin-left: 50px; padding: 0;}
/*-------------------------last----------------------------*/
.last{background:black; width: 100%; height: 50px;}
.last p{color:gray; line-height: 50px; margin-left: 50px;}
/*----------------------------media query---------------------*/
@media (max-width: 992px){
  .soun{ padding: 50px 10px; margin-top: 80px; padding-bottom: 100px;}
  .circle{width: 140px;  height: 140px;}
  h4{font-size: 30px; top:30%; left: 25%; }
  .circle p{ top: 60%; left: 20%;}
  }
  @media (max-width: 768px){
    .so .circle{display: flex; justify-content: center; width: 300px;  height: 300px; margin-top:50px;  margin-left: -30px;}
    .so .circle h4{margin-left: 20px;} 
    .so{padding: 30px 0;}
    .item .card h5{font-size: 20px!important;}
    .soun{ padding: 50px 20px; margin-top: 80px; padding-bottom: 80px;}
    .card{padding: 10px 20px; margin-top:10px;}
    h3{background: lightgray; height:50px; font-size: 20px;}
    .circle{margin:0 auto; width: 400px;  height: 400px; margin-top:100px;  margin-left: 50px;}
    h4{font-size: 70px; top:30%; left: 15%; font-weight: bold;}
    .circle p{ top: 65%; left: 25%; font-size: 30px; margin:0 auto;}
    .carousel-caption{position: absolute;bottom: 20%; } 
    .carousel-caption h1{font-size: 30px;}
    .carousel-caption p{font-size: 15px; line-height: 20px;} 
  }
     @media (max-width: 568px){     
     .right ul li{margin:0 10px 0 0; }
     .change{font-size: 40px;}
     .monu{width: 75%; margin:0 auto;}
     .circle{width: 300px;  height: 300px; margin-top:50px;  margin-left: 0px;}
     .so .circle h4{margin-left: 20px;} 
     .fst .card{margin-top:50px;}
     h3{background: lightgray; height:50px; font-size: 30px;}
     .navbar-brand img{width: 200px; height: 50px;}
     .secondlast{font-size: 15px; text-align: center; margin-left: 0;}
     .content{color:gray; line-height: 50px; display: inline-block; margin-left: 5px;}
     .last p{font-size: 8px; margin-left: 5px; text-align: center;}
     h1{font-size: 40px;}
     h2{font-size: 30px;}
     .carousel-caption{position: absolute;bottom: 20%;}
     .carousel-caption button{color: white; width: 120px; font-size: 15px;}
    }
    @media (max-width: 425px){
      .so{text-align: center;}
    .so .circle{display: flex; justify-content: center; width: 300px;  height: 300px; margin-top:50px;  margin-left: -30px;}
    .so .circle h4{margin-left: 20px;} 
    h1{font-size: 30px;}
      h2{font-size: 20px;}
      h3{font-size: 25px;}
      .carousel-caption{position: absolute;bottom: 15%;}
      .carousel-caption button{color: white; width: 100px; font-size: 10px;}
    }